@reference "tailwindcss";
.header {
  @apply w-full border-b bg-white dark:bg-black;
  @apply sticky top-0 z-10;
}

.headerWrapper {
  @apply mx-auto flex h-16 max-w-7xl items-center justify-between px-4 sm:px-6 lg:px-8;
}

.cartCta {
  @apply ml-auto w-min;
}
